<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="/css/formulario2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="Images/google-forms-icon.webp" type="image/x-icon">
    <script src="/js/formulario.js" defer></script>
</head>
</head>
<body>
    <h1>Editar Producto</h1>
    <div class="contenedor">
        <form action="/editarProducto" method="post" id="formulario2">
            <input name="idPro" id="idPro" type="hidden" placeholder="ID" value=<%= idPro %>>

            <label for="nombrePro">Nombre: </label><span class="ocultar mensajeNombrepro">Nombre no v치lido</span>     
            <input autofocus name="nombrePro" id="nombrePro" type="text" placeholder="Nombre" value=<%= nombrePro %>> 
            <i class="ocultar circleCrossNombrepro fa-regular fa-circle-xmark"></i>
            <i class="ocultar circleCheckNombrepro fa-regular fa-circle-check"></i>
    
            <label for="cantidad">Cantidad: </label><span class="ocultar mensajeCantidad">Cantidad no v치lida</span>
            <input name="cantidad" id="cantidad" type="number" placeholder="Cantidad a desear" value=<%= cantidad %>>
            <i class="ocultar circleCrossCantidad fa-regular fa-circle-xmark"></i>
            <i class="ocultar circleCheckCantidad fa-regular fa-circle-check"></i>

            <label for="precio">Precio: </label><span class="ocultar mensajePrecio">Precio no v치lido</span>
            <input name="precio" id="precio" type="number" placeholder="Precio" value=<%= precio %>>
            <i class="ocultar circleCrossPrecio fa-regular fa-circle-xmark"></i>
            <i class="ocultar circleCheckPrecio fa-regular fa-circle-check"></i>
      

            <label for="descripcion">Descripcion: </label><span class="ocultar mensajeDescripcion">Descripcion no v치lido</span>
            <input name="descripcion" id="descripcion" type="text" placeholder="Describa su producto " value=<%= descripcion %>>
            <i class="ocultar circleCrossDescripcion fa-regular fa-circle-xmark"></i>
            <i class="ocultar circleCheckDescripcion fa-regular fa-circle-check"></i>
            <button type="submit" id="button">Guardar datos</button>
        </form>
    </div>
</body>
</html>