<%- include("templates/encabezado")%>
<h1>Productos activos</h1>
<h4>Nombre del producto: <%= nombrePro %></h4>
<h4>Cantidad: <%= cantidad %></h4>
<h4>Precio: <%= precio %></h4>
<h4>Descripcion: <%= descripcion %></h4>
<%- include("templates/pie")%>